<h1>id: <%= @task.id %> のタスク編集ページ</h1>

<!--<%= render 'form', task:@task %>-->



 <%= form_with(model: @task, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :status, "ステータス" %>
          <%= f.text_field :status, class: 'form-control', rows: 5 %>
        </div>
        <div class="form-group">
          <%= f.label :task, "タスク" %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>
        <%= f.submit 'Post', class: 'btn btn-primary btn-block' %>
      <% end %>
      
      <%= link_to '一覧に戻る', tasks_path %>